html, body { 
    padding: 0px;
     margin: 0px; 
     width: 100%;
     height: 100vh; 
}

body {
  
    background: rgb(1,14,89);
background: linear-gradient(180deg, rgba(1,14,89,1) 0%, rgba(2,72,220,1) 40%, rgba(2,72,220,1) 60%, rgba(1,14,89,1) 100%);

    color:#fff;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    text-shadow: 6px 6px #220000;
}
#loading-bar-container {
    background-color:#333;
    height: 1vh;

    #loading-bar {
        height: 100%;
        width: 33%;
        background-color: rgba(2,72,220,1);
    }
}

#content {
margin: 0 10vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#txtCategory {
    font-size: 6vh;

 
}
#txtQuestion {

    font-size: 8vh;

}


#txtAnswer {

    font-size: 3vh;
    
 color:#FBA150;
}