html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh; }

body {
  background: #010e59;
  background: linear-gradient(180deg, #010e59 0%, #0248dc 40%, #0248dc 60%, #010e59 100%);
  color: #fff;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  text-shadow: 6px 6px #220000; }

#loading-bar-container {
  background-color: #333;
  height: 1vh; }
  #loading-bar-container #loading-bar {
    height: 100%;
    width: 33%;
    background-color: #0248dc; }

#content {
  margin: 0 10vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center; }

#txtCategory {
  font-size: 6vh; }

#txtQuestion {
  font-size: 8vh; }

#txtAnswer {
  font-size: 3vh;
  color: #FBA150; }
